@model IEnumerable<ClassAnalytics.Models.Class_Models.StudentModels>

@{
    ViewBag.Title = @ViewBag.this_class + "'s Students";
}
<center><h3>@ViewBag.Title</h3></center>
<h5 style="text-align:right;margin-top:-25px;">@Html.ActionLink("Return to Classes", "Index", "Class") | 
    @Html.ActionLink("New Student", "Create", "Student", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "a" })</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lName)
        </td>
        <td>
            @Html.ActionLink("Modify Student", "Edit", new { id=item.student_Id }) |
            @Html.ActionLink("Remove Student", "Delete", new { id=item.student_Id})
        </td>
    </tr>
}
</table>

