@model ClassAnalytics.Models.MessagingModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MessagingModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sender_account_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sender_account_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recipient_account_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recipient_account_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.read)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.read)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateSent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.message_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
