@model ClassAnalytics.Models.MessagingModel

@{
    ViewBag.Title = "Message";
}

<h3>@Html.DisplayFor(m => m.subject) - @Html.DisplayFor(model => model.sending_User.Email)</h3>

<table class="table">
    <tr>
        <th style = "text-align:left;" >
            <h5>
                @Html.DisplayFor(model => model.dateSent)<br />
                @Html.DisplayNameFor(model => model.recieve_id) : @Html.DisplayFor(model => model.receiving_User.Email)<br />
            </h5>
        </th>
    </tr>
    <tr>
        <td style="text-align:left;">
            <h5>Message:</h5>
            <p style="text-align:left;padding:10px 10px;">
                @Html.DisplayFor(model => model.message)
            </p>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Back to Inbox", "Inbox")
</p>
