@model ClassAnalytics.Models.MessagingViewModel

@{
    ViewBag.Title = "Message";
}

<h3>@Html.DisplayFor(m => m.Message.subject) - @Html.DisplayFor(model => model.sender)</h3>

<table class="table">
    <tr>
        <th style = "text-align:left;" >
            <h5>
                @Html.DisplayFor(model => model.Message.dateSent)<br />
                @Html.DisplayName("Recipeint") : @Html.DisplayFor(model => model.recip)<br />
            </h5>
        </th>
    </tr>
    <tr>
        <td style="text-align:left;">
            <h5>Message:</h5>
            <p style="text-align:left;padding:10px 10px;">
                @Html.DisplayFor(model => model.Message.message)
            </p>
        </td>
    </tr>
</table>
<p>
    @Html.ActionLink("Back to Inbox", "Inbox")
</p>
