@model IEnumerable<ClassAnalytics.Models.Misc_Models.MessagingViewModel>

@{
    ViewBag.Title = "Inbox";
}
<div class="container">
    <div class="col-sm-2">
        <center><h3>Inbox</h3></center>
        <div style="margin-left:20px;">
            <div class="btn-group" id="button_fade">
                <input class="btn btn-primary-new btn-sm" value="Inbox" onclick="location.href='Inbox'" style="width:100px;" type="button" />
            </div>
            <div class="btn-group" id="button_fade">
                <input class="btn btn-primary-new btn-sm" value="Sent" onclick="location.href='Sent'" style="width:100px;" type="button" />
            </div>
            @Html.AntiForgeryToken()
            <div class="btn-group" id="button_fade" style="padding-bottom:20px;">
                <input class="btn btn-primary-new btn-sm" value="New Message" onclick="location.href='Create'" style="width:100px;" type="button" />
            </div>
        </div>
    </div>
    <div class="col-sm-10" style="padding-top:25px;margin-left:-10px;">
        <table class="table" style="table-layout:fixed;white-space:nowrap;">
            <col style="width:26%;" />
            <col style="width:44%;" />
            <col style="width:4%;" />
            <col style="width:19%;" />
            <tr>
                <th>
                    @Html.DisplayName("Sender")
                </th>
                <th>
                    @Html.DisplayName("Subject: ")
                </th>
                <th>
                    @Html.DisplayName("Read")
                </th>
                <th>
                    @Html.DisplayName("Date: ")
                </th>
                <th></th>
            </tr>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>
                        <h4>No Messages</h4>
                    </td>
                </tr>
            }

            else
            {
                foreach (var item in Model)
                {


                    <tr>
                        <td>
                            From: @Html.DisplayFor(modelItem => item.sender)
                        </td>
                        <td style="overflow:hidden;text-overflow:ellipsis;width:350px;">
                            @Html.ActionLink(item.Message.subject, "Details", new { id = item.Message.message_Id })
                        </td>
                        <td style="width:50px;">
                            @Html.DisplayFor(modelItem => item.Message.read)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Message.dateSent)
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "Delete", new { id = item.Message.message_Id })
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>