@model IEnumerable<ClassAnalytics.Models.MessagingModel>

@{
    ViewBag.Title = "Inbox";
    string some_Data = this.User.Identity.Name;
    string by_line = "";
    foreach(var item in Model)
    {
        if (item.recieve_id == some_Data)
        {
            by_line = "From: ";
            
            break;
        }
        else if(item.sending_id == some_Data)
        {
            by_line = "To: ";
        }
    }
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayName(by_line)
        </th>
        <th>
            @Html.DisplayName("Message: ")
        </th>
        <th>
            @Html.DisplayName("Read/Unread")
        </th>
        <th>
            @Html.DisplayName("Date Sent: ")
        </th>
        <th></th>
    </tr>
    w
    @foreach (var item in Model)
    {
        <tr>
            <td>                
                @if (item.recieve_id == some_Data)
                {
                    @Html.DisplayFor(modelItem => item.sending_id)
                }
                else if (item.sending_id == some_Data)
                {
                    @Html.DisplayFor(modelItem => item.recieve_id)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.read)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateSent)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.message_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.message_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.message_Id })
            </td>
        </tr>
    }
</table>