@model IEnumerable < ClassAnalytics.Models.ClassStudentViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassModel.className)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.student_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.student_Id}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.student_Id})
        </td>
    </tr>
}

</table>

@using (Html.BeginForm("ClassHome", "Class"))
{
    @Html.AntiForgeryToken()
    <center>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Return To Class Home" class="btn btn-default" />
            </div>
        </div>
    </center>
}