@model IEnumerable<ClassAnalytics.Models.StudentModels>

@{
    ViewBag.Title = "Index";
}
<center><h3>Class - @ViewBag.this_class</h3></center>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lName)
        </td>
        <td>
            @Html.ActionLink("Modify Student", "Edit", new { id=item.student_Id }) |
            @Html.ActionLink("Remove Student", "Delete", new { id=item.student_Id})
        </td>
    </tr>
}

</table>

<center>@Html.ActionLink("Return to Classes", "Index", "Class")</center>
