@model IEnumerable<ClassAnalytics.Models.TaskTypeModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taskType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskWeight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taskType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskWeight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.taskType_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.taskType_Id })
        </td>
    </tr>
}

</table>