@model ClassAnalytics.Models.ClassModel

@{
    ViewBag.Title = "Remove Class";
}

<div>
    <h3>@ViewBag.Title</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.className)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.className)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary-2" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
