@model IEnumerable<ClassAnalytics.Models.Class_Models.programListViewModel>

@{
    ViewBag.Title = "Your Classes";
    int c0count = 0;
    int c1Count = 0;
    int tCount = 0;
    int c1MCount = 0;
    int tMCount = 0;
    int c1RCount = 0;
    int tRCount = 0;
    string c0 = "c0";
    string c1 = "c1";
    string t = "t";
    string c1Minus = "c1Minus";
    string tMinus = "tMinus";
    string c1Row = "c1Row";
    string tRow = "tRow";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<h4>@ViewBag.Title</h4>
<hr />
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row" style="border:solid 1px #FFF;">
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                @Html.Label("Class")
            </div>
            <div class="col-md-2">
                @Html.Label("Program")
            </div>
            <div class="col-md-6">
                @Html.Label("Actions")
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row" style="border:solid 1px #FFF;padding-top:10px;">
                <div class="col-md-2" id="@c1Row@c1RCount">
                    <img id="@c1Minus@c1MCount" src="~/Content/minus.jpg" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                </div>
                <div class="col-md-4">
                    <div class="row" id="@c0@c0count">
                        <a class="iIndex_links">
                            <div class="col-md-6">
                                @Html.DisplayFor(m => item._class.className)
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayFor(m => item.program.programName)
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group" style="margin:0px;">
                        <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Uploads</button>
                        <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("New Upload", "Upload", "Upload", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Uploads", "uploadList", "Upload", new { id = item._class.class_Id }, new { @class = "navbar_links" })</div>
                    </div>
                    <div class="btn-group" style="margin:0px;">
                        <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Class Management</button>
                        <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("New Student", "Create", "Student", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Students", "Index", "Student", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Update Class", "Edit", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Remove Class", "Delete", new { id = item._class.class_Id }, new { @class = "navbar_links" })</div>
                    </div>
                    <div class="btn-group" style="margin:0px;">
                        <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Surveys</button>
                        <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("Class Surveys", "Index_Class_Survey", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Survey Charts", "SurveyBarChart", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Survey Management", "Index", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })</div>
                    </div>
                </div>
                @foreach (var item1 in item.courses)
                {
                    <div class="col-md-3" id="@tRow@tRCount">
                        <img id="@tMinus@tMCount" src="~/Content/minus.jpg" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                    </div>
                    <div class="col-md-9">
                        <div class="row" id="@c1@c1Count" style="border:solid 1px #FFF;">
                            <a class="iIndex_links">
                                <div class="col-md-3">
                                    @Html.Label("Course")
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => item1.course.courseName)
                                </div>
                                <div class="col-md-5">
                                    @Html.ActionLink("Add/Assign Course Tasks", "Index", "Task", new { id = item1.course.course_Id }, new { @class = "iIndex_links" })
                                </div>
                            </a>
                        </div>
                    </div>
                    foreach (var item2 in item1.tasks)
                    {
                        <div id="@t@tCount">
                            <div class="col-md-4"></div>
                            <div class="col-md-8" style="border:solid 1px #FFF;">
                                <div class="col-md-3">
                                    @Html.Label("Tasks")
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => item2.taskName)
                                </div>
                                <div class="col-md-5">
                                    @Html.ActionLink("View Chart", "AdminCharts", "GradeBook", new { id = item._class.class_Id, task_id = item2.task_Id }, new { @class = "iIndex_links" }) |
                                    @Html.ActionLink("View Grades", "Index", "GradeBook", new { id = item._class.class_Id, task_id = item2.task_Id }, new { @class = "iIndex_links" })
                                </div>
                            </div>
                            <script type="text/javascript">
                            $("document").ready(function () {
                                $("#@c1@c1Count, #@t@tCount, #@c1Minus@c1MCount, #@tMinus@tMCount").hide(
                                );
                                $("#@c0@c0count").click(function () {
                                    $("#@c1@c1Count, #@c1Minus@c1MCount").show(850)
                                });
                                $("#@c1@c1Count").click(function () {
                                    $("#@t@tCount, #@tMinus@tMCount").show(850)
                                });
                                $("#@c1Row@c1RCount").click(function () {
                                    $("#@c1@c1Count, #@c1Minus@c1MCount, #@t@tCount, #@tMinus@tMCount").hide(850)
                                });
                                $("#@tRow@tRCount").click(function () {
                                    $("#@t@tCount, #@tMinus@tMCount").hide(850)
                                });
                            });
                            </script>
                        </div>
                        tCount += 1;
                    }
                    tMCount += 1;
                    c1Count += 1;
                    tRCount += 1;
                }
            </div>
            c1RCount += 1;
            c1MCount += 1;
            c0count += 1;
        }
    </div>
    <div class="col-md-1"></div>
</div>