@model IEnumerable<ClassAnalytics.Models.Class_Models.programListViewModel>

@{
    ViewBag.Title = "Your Classes";
    int c0count = 0;
    int c1Count = 0;
    int tCount = 0;
    int gCount = 0;
    int gECount = 0;
    int eRCount = 0;
    int c1MCount = 0;
    int tMCount = 0;
    int gMCount = 0;
    int c1RCount = 0;
    int tRCount = 0;
    int gRCount = 0;
    int submitCount = 0;
    string c0 = "c0-";
    string c1 = "c1-";
    string t = "t-";
    string g = "g-";
    string gEdit = "gEdit";
    string editRow = "editRow";
    string c1Minus = "c1Minus";
    string tMinus = "tMinus";
    string gMinus = "gMinus";
    string c1Row = "c1Row";
    string tRow = "tRow";
    string gRow = "gRow";
    string submit = "submit";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<h4>@ViewBag.Title</h4>
<hr />
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row" style="border:solid 1px #FFF;border-radius:5px;width:100%;">
            <div class="row" style="border:none;">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    @Html.Label("Class")
                </div>
                <div class="col-md-2">
                    @Html.Label("Program")
                </div>
                <div class="col-md-6">
                    @Html.Label("Actions")
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row" style="margin-left:0px;margin-right:0px;border-top:solid 1px #FFF;padding-top:10px;height:100%;">
                    <div class="col-md-2" id="@c1Row@c1RCount">
                        <img id="@c1Minus@c1MCount" src="~/Content/minus.jpg" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                    </div>
                    <div class="col-md-4">
                        <div class="row" id="@c0@c0count">
                            <a class="iIndex_links">
                                <div class="col-md-6">
                                    @Html.DisplayFor(m => item._class.className)
                                </div>
                                <div class="col-md-6">
                                    @Html.DisplayFor(m => item.program.programName)
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" style="margin:0px;">
                            <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Uploads</button>
                            <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("New Upload", "Upload", "Upload", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Uploads", "uploadList", "Upload", new { id = item._class.class_Id }, new { @class = "navbar_links" })</div>
                        </div>
                        <div class="btn-group" style="margin:0px;">
                            <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Class Management</button>
                            <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("New Student", "Create", "Student", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Students", "Index", "Student", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Update Class", "Edit", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Remove Class", "Delete", new { id = item._class.class_Id }, new { @class = "navbar_links" })</div>
                        </div>
                        <div class="btn-group" style="margin:0px;">
                            <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Surveys</button>
                            <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("Class Surveys", "Index_Class_Survey", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Survey Charts", "SurveyBarChart", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Survey Management", "Index", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })</div>
                        </div>
                    </div>
                    @foreach (var _course in item.courses)
                    {
                        <div class="row" style="width:100%;margin-left:0px;margin-right:0px;">
                            <div class="col-md-3" id="@tRow@tRCount">
                                <img id="@tMinus@tMCount" src="~/Content/minus.jpg" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                            </div>
                            <div class="col-md-9" id="@c1@c1Count" style="border-bottom:solid 1px #FFF;">
                                <a class="iIndex_links">
                                    <div class="col-md-3">
                                        @Html.Label("Course")
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DisplayFor(m => _course.course.courseName)
                                    </div>
                                    <div class="col-md-5">
                                        @Html.ActionLink("Add/Assign Course Tasks", "Index", "Task", new { id = _course.course.course_Id }, new { @class = "iIndex_links" })
                                    </div>
                                </a>
                            </div>
                        </div>
                        @*@{
                                ViewDataDictionary viewdata = new ViewDataDictionary();
                                viewdata.Add("course_Id",_course.course.course_Id);
                                viewdata.Add("class_Id", item._class.class_Id);
                                Html.RenderPartial("uploadPartial", viewdata);
                            }*@
                    if (_course.tasks.Count() == 0)
                    {
                        <script type="text/javascript">
                            $("document").ready(function () {
                                $("#@c1@c1Count, #@c1Minus@c1MCount, #@tRow@tRCount, #@tMinus@tMCount").hide(
                                );
                                $("#@c0@c0count").click(function () {
                                    $("#@c1@c1Count, #@c1Minus@c1MCount, #@c1Row@c1RCount, #@tRow@tRCount").slideDown()
                                });
                                $("#@c1Row@c1RCount").click(function () {
                                    $("#@c1@c1Count, #@c1Minus@c1MCount").slideUp()
                                });
                            });
                        </script>

                    }
                    else
                    {
                        foreach (var _task in _course.tasks)
                        {
                            <div class="row" style="width:100%;margin-left:0px;margin-right:0px;">
                                <div class="col-md-4" id="@gRow@gRCount">
                                    @if (_task.grades.Count() != 0)
                                    {
                                        <img id="@gMinus@gMCount" src="~/Content/minus.jpg" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                                    }
                                </div>
                                <div class="col-md-8" id="@t@tCount" style="border-bottom:solid 1px #FFF;">
                                    <a class="iIndex_links">
                                        <div class="col-md-3">
                                            @Html.Label("Task")
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DisplayFor(m => _task.task.taskName)
                                        </div>
                                    </a>
                                    <div class="col-md-5">
                                        @Html.ActionLink("View Chart", "AdminCharts", "GradeBook", new { id = item._class.class_Id, task_id = _task.task.task_Id }, new { @class = "iIndex_links" })
                                    </div>
                                </div>
                            </div>
                            if (_task.grades.Count() == 0)
                            {
                                <script type="text/javascript">
                                    $("document").ready(function () {
                                        $("#@c1@c1Count, #@t@tCount, #@c1Minus@c1MCount, #@tMinus@tMCount, #@tRow@tRCount").hide(
                                        );
                                        $("#@c0@c0count").click(function () {
                                            $("#@c1@c1Count, #@c1Minus@c1MCount, #@c1Row@c1RCount").slideDown()
                                        });
                                        $("#@c1@c1Count").click(function () {
                                            $("#@t@tCount, #@tMinus@tMCount, #@tRow@tRCount").slideDown()
                                        });
                                        $("#@c1Row@c1RCount").click(function () {
                                            $("#@c1@c1Count, #@c1Minus@c1MCount, #@c1Row@c1RCount, #@t@tCount, #@tMinus@tMCount, #@tRow@tRCount").slideUp()
                                        });
                                        $("#@tRow@tRCount").click(function () {
                                            $("#@t@tCount, #@tMinus@tMCount, #@tRow@tRCount").slideUp()
                                        });
                                    });
                                </script>
                            }
                            else
                            {
                                <div class="row" style="width:100%;margin-left:0px;margin-right:0px;">
                                    <div class="col-md-4" id="@submit@submitCount">
                                    </div>
                                    <div class="col-md-7" id="@g@gCount" style="border-bottom:solid 1px #fff;">
                                        <div class="col-md-5">
                                            @Html.Label("Student")
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Earned")
                                        </div>
                                        <div class="col-md-2">
                                            @Html.Label("Possible")
                                        </div>
                                        <div class="col-md-3">
                                            @Html.Label("Grade - %")
                                        </div>
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                </div>
                                foreach (var _grade in _task.grades)
                                {
                                    <div class="row" style="width:100%;margin-left:0px;margin-right:0px;">

                                        <div class="col-md-4" id="@submit@submitCount">
                                        </div>
                                        <div class="col-md-7" id="@g@gCount" style="border-bottom:solid 1px #fff;">
                                            @{ Html.RenderPartial("gradePartial", _grade);}
                                        </div>
                                        <div class="col-md-1" id="@gEdit@gECount">
                                            <a class="iIndex_links">
                                                Change
                                            </a>
                                        </div>
                                    </div>
                                            <div class="row" id="@editRow@eRCount" style="width:100%;margin-left:0px;margin-right:0px;padding:5px;">
                                                @{Html.RenderPartial("partialEdit", _grade);}
                                            </div>
                                            <script type="text/javascript">
                                                $("document").ready(function () {
                                                    $("#@c1@c1Count, #@t@tCount, #@g@gCount, #@c1Minus@c1MCount, #@tMinus@tMCount, #@gMinus@gMCount,  #@tRow@tRCount, #@gRow@gRCount, #@gEdit@gECount, #@editRow@eRCount, #@submit@submitCount").hide(
                                                    );
                                                    $("#@c0@c0count").click(function () {
                                                        $("#@c1@c1Count, #@c1Minus@c1MCount, #@tRow@tRCount").slideDown()
                                                    });
                                                    $("#@c1@c1Count").click(function () {
                                                        $("#@t@tCount, #@tMinus@tMCount, #@gRow@gRCount").slideDown()
                                                    });
                                                    $("#@t@tCount").click(function () {
                                                        $("#@g@gCount, #@gMinus@gMCount, #@gEdit@gECount, #@submit@submitCount").slideDown()
                                                    });
                                                    $("#@gEdit@gECount").click(function () {
                                                        $("#@editRow@eRCount").slideDown(function () {
                                                            $("#@editRow@eRCount")
                                                        });
                                                    });
                                                    $("#@c1Row@c1RCount").click(function () {
                                                        $("#@c1@c1Count, #@c1Minus@c1MCount, #@t@tCount, #@tMinus@tMCount, #@g@gCount, #@gMinus@gMCount, #@tRow@tRCount, #@gRow@gRCount, #@gEdit@gECount, #@editRow@eRCount, #@submit@submitCount").slideUp()
                                                    });
                                                    $("#@tRow@tRCount").click(function () {
                                                        $("#@t@tCount, #@tMinus@tMCount, #@g@gCount, #@gMinus@gMCount,#@gRow@gRCount, #@gEdit@gECount, #@editRow@eRCount, #@submit@submitCount").slideUp()
                                                    });
                                                    $("#@gRow@gRCount").click(function () {
                                                        $("#@g@gCount, #@gMinus@gMCount, #@gEdit@gECount, #@editRow@eRCount, #@submit@submitCount").slideUp()
                                                    });
                                                });
                                            </script>
                                                                        eRCount += 1;
                                                                        gCount += 1;
                                                                        gECount += 1;
                                                                        submitCount += 1;
                                                                    }
                                                                    gMCount += 1;
                                                                    gRCount += 1;
                                                                }
                                                                tCount += 1;
                                                            }

                                                        }
                                                        tMCount += 1;
                                                        tRCount += 1;
                                                        c1Count += 1;
                                                    }
                </div>
                                                        c1RCount += 1;
                                                        c1MCount += 1;
                                                        c0count += 1;
                                                    }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
