@model IEnumerable<ClassAnalytics.Models.Class_Models.programListViewModel>

@{
    ViewBag.Title = "Your Class Dashboard";
    string c0 = "c0-";
    string c1 = "c1-";
    string t = "t-";
    string g = "g-";
    string students = "students";
    string studentDrop = "studentDrop";
    string studentUp = "studentUp";
    string uploadUp = "uploadUp";
    string uploadDrop = "uploadDrop";
    string uploads = "uploads";
    string c1down = "c1down";
    string tright = "tright";
    string tdown = "tdown";
    string gDown = "gDown";
    string c1Row = "c1Row";
    string c1right = "c1right";
    string tRow = "tRow";
    string gRow = "gRow";
    string gRight = "gRight";
    string gradeRow = "gradeRow";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<h3 style="text-align:center;">
    @ViewBag.Title
</h3>
<h5 style="text-align:right;margin-top:-25px;">
    @Html.ActionLink("New Class", "Create", "Class") |
    @Html.ActionLink("New Program", "Create", "ProgramModels")
</h5>
<hr />
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row" style="border:solid 1px #FFF;border-radius:5px;width:100%;">
            <div class="row" style="border:none;">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    @Html.Label("Class")
                </div>
                <div class="col-md-3">
                    @Html.Label("Program")
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    @Html.Label("Actions")
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row" style="margin-left:0px;margin-right:0px;border-top:solid 1px #FFF;padding-top:10px;height:100%;width:100%;">
                    <div class="col-md-1" id="@c1Row@item._class.class_Id">
                        <img id="@c1right@item._class.class_Id" src="~/Content/right-pointer.png" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                        <img id="@c1down@item._class.class_Id" src="~/Content/down-pointer.png" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <a class="iIndex_links" id="@c0@item._class.class_Id">
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => item._class.className)
                                </div>
                                <div class="col-md-4">
                                    @Html.DisplayFor(m => item.program.programName)
                                </div>
                            </a>
                            <div class="col-md-2">
                                <a class="iIndex_links" id="@uploadDrop@item._class.class_Id">Uploads</a>
                            </div>
                            <div class="col-md-2">
                                <a class="iIndex_links" id="@studentDrop@item._class.class_Id">Students</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;font-size:14px;" data-hover="dropdown">Surveys</button>
                            <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("Class Surveys", "Index", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Survey Charts", "SurveyBarChart", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("New Survey", "Create", "Survey", new { id = item._class.class_Id }, new { @class = "navbar_links" })</div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;font-size:14px;" data-hover="dropdown">Program</button>
                            <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("Courses", "Index", "Course", new { id = item.program.program_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("New Course", "Create", "Course", new { id = item.program.program_Id }, new { @class = "navbar_links" })</div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="row" id="@uploads@item._class.class_Id" style="width:100%;padding:10px;">
                        <div class="row" style="margin-left:20px;">
                            <div class="col-md-11" style="padding-left:0px;padding-right:0px;">
                                @{
                                    Html.RenderAction("uploadPartial", "upload", new { id = item._class.class_Id });
                                }
                            </div>
                            <div class="col-md-1" style="margin-left:-10px;padding-left:0px;">
                                <button style="margin-top:5px;" class="btn-primary-new" id="@uploadUp@item._class.class_Id">Cancel</button>
                            </div>
                        </div>
                        <div class="row" style="margin-left:15px;">
                            <div class="col-md-12" style="padding:0px;">
                                @{
                                    Html.RenderAction("uploadList", "upload", new { id = item._class.class_Id });
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row" id="@students@item._class.class_Id" style="width:100%;padding:10px;">
                        <div class="row" style="margin-left:20px;">
                            <div class="col-md-10" style="padding-right:0px;">
                                @{
                                    Html.RenderAction("newStudentPartial", "Student", new { id = item._class.class_Id });
                                }

                            </div>
                            <div class="col-md-1" style="margin-left:-80px;padding-left:0px;">
                                <button style="margin-top:5px;" class="btn-primary-new" id="@studentUp@item._class.class_Id">Cancel</button>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row" style="margin-left:5px;">
                            @{
                                Html.RenderAction("listStudentPartial", "Student", new { id = item._class.class_Id });
                            }
                        </div>
                    </div>
                    @foreach (var _course in item.courses)
                    {
                        string courseLabel = "Course";
                        if (_course.tasks.Count() == 0)
                        {
                            courseLabel += " - No Tasks";
                        }
                        <div class="row" style="width:100%;height:auto;margin-left:0px;margin-right:0px;">
                            <div class="col-md-2" id="@tRow@item._class.class_Id-@_course.course.course_Id">
                                <img id="@tright@item._class.class_Id-@_course.course.course_Id" src="~/Content/right-pointer.png" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                                <img id="@tdown@item._class.class_Id-@_course.course.course_Id" src="~/Content/down-pointer.png" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                            </div>
                            <div class="col-md-10" id="@c1@item._class.class_Id-@_course.course.course_Id" style="border:solid 1px #FFF;border-radius:5px;">
                                <a class="iIndex_links">
                                    <div class="col-md-4">
                                        @Html.Label(courseLabel)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.DisplayFor(m => _course.course.courseName)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.ActionLink("Add/Assign Course Tasks", "Index", "Task", new { id = _course.course.course_Id }, new { @class = "iIndex_links" })
                                    </div>
                                </a>
                            </div>
                        </div>
                        if (_course.tasks.Count() == 0)
                        {
                            <script type="text/javascript">
                                $("document").ready(function () {
                                    $("#@c1@item._class.class_Id-@_course.course.course_Id, #@c1down@item._class.class_Id, #@tright@item._class.class_Id-@_course.course.course_Id, #@tRow@item._class.class_Id-@_course.course.course_Id, #@tdown@item._class.class_Id-@_course.course.course_Id, #@uploads@item._class.class_Id, #@students@item._class.class_Id").hide();
                                    $("#@c0@item._class.class_Id").click(function () {
                                        $("#@c1@item._class.class_Id-@_course.course.course_Id, #@tRow@item._class.class_Id-@_course.course.course_Id").slideDown()
                                    });
                                    $("#@c0@item._class.class_Id").click(function () {
                                        $("#@c1right@item._class.class_Id").fadeOut(500, function () {
                                            $("#@c1down@item._class.class_Id").fadeIn();
                                        });
                                    });
                                    $("#@c1Row@item._class.class_Id").click(function () {
                                        $("#@c1@item._class.class_Id-@_course.course.course_Id").slideUp()
                                    });
                                    $("#@c1Row@item._class.class_Id").click(function () {
                                        $("#@c1down@item._class.class_Id").fadeOut(500, function () {
                                            $("#@tright@item._class.class_Id-@_course.course.course_Id").fadeOut(500, function () {
                                                $("#@c1right@item._class.class_Id").fadeIn();
                                            });
                                        });
                                    });
                                    $("#@uploadDrop@item._class.class_Id").click(function () {
                                        $("#@uploads@item._class.class_Id").slideDown();
                                    });
                                    $("#@uploadUp@item._class.class_Id").click(function () {
                                        $("#@uploads@item._class.class_Id").slideUp();
                                    });
                                    $("#@studentDrop@item._class.class_Id").click(function () {
                                        $("#@students@item._class.class_Id").slideDown();
                                    });
                                    $("#@studentUp@item._class.class_Id").click(function () {
                                        $("#@students@item._class.class_Id").slideUp();
                                    });
                                });
                            </script>
                        }
                        else
                        {
                            foreach (var _task in _course.tasks)
                            {
                                string gradeLabel = "";
                                if (_task.grades.Count() == 0)
                                {
                                    gradeLabel = " - No Grades";
                                }
                                <div class="row" style="width:100%;height:100%;margin-left:0px;margin-right:0px;">
                                    <div class="col-md-3" id="@gRow@item._class.class_Id-@_task.task.task_Id">
                                        @if (_task.grades.Count() != 0)
                                        {
                                            <img id="@gRight@_task.task.task_Id" src="~/Content/right-pointer.png" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                                                <img id="@gDown@_task.task.task_Id" src="~/Content/down-pointer.png" style="padding-right:5px;vertical-align:middle;margin-left:50%;margin-right:50%;" />
                                        }
                                    </div>
                                    <div class="col-md-9" id="@t@item._class.class_Id-@_task.task.task_Id" style="border:solid 1px #FFF;border-radius:5px;">
                                        <a class="iIndex_links">
                                            <div class="col-md-3">
                                                @Html.DisplayFor(m => _task.task.TaskTypeModels.taskType)
                                            </div>
                                            <div class="col-md-4">
                                                @Html.DisplayFor(m => _task.task.taskName)@gradeLabel
                                            </div>
                                            <div class="col-md-5">
                                                @Html.ActionLink("View Chart", "AdminCharts", "GradeBook", new { id = item._class.class_Id, task_id = _task.task.task_Id }, null)
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                if (_task.grades.Count() == 0)
                                {
                                    <script type="text/javascript">
                                        $("document").ready(function () {
                                            $("#@c1@item._class.class_Id-@_course.course.course_Id, #@t@item._class.class_Id-@_task.task.task_Id, #@c1down@item._class.class_Id, #@tdown@item._class.class_Id-@_course.course.course_Id, #@tRow@item._class.class_Id-@_course.course.course_Id, #@uploads@item._class.class_Id, #@gRow@item._class.class_Id-@_task.task.task_Id, #@students@item._class.class_Id").hide();
                                            $("#@c0@item._class.class_Id").click(function () {
                                                $("#@c1@item._class.class_Id-@_course.course.course_Id, #@tRow@item._class.class_Id-@_course.course.course_Id").slideDown()
                                            });
                                            $("#@c0@item._class.class_Id").click(function () {
                                                $("#@c1right@item._class.class_Id").fadeOut(500, function () {
                                                    $("#@c1down@item._class.class_Id, #@tright@item._class.class_Id-@_course.course.course_Id").fadeIn();
                                                });
                                            });
                                            $("#@c1@item._class.class_Id-@_course.course.course_Id").click(function () {
                                                $("#@t@item._class.class_Id-@_task.task.task_Id, #@gRow@item._class.class_Id-@_task.task.task_Id").slideDown()
                                            });
                                            $("#@c1@item._class.class_Id-@_course.course.course_Id").click(function () {
                                                $("#@tright@item._class.class_Id-@_course.course.course_Id").fadeOut(500, function () {
                                                    $("#@tdown@item._class.class_Id-@_course.course.course_Id").fadeIn();
                                                });
                                            });
                                            $("#@c1Row@item._class.class_Id").click(function () {
                                                $("#@t@item._class.class_Id-@_task.task.task_Id").slideUp(function () {
                                                    $("#@c1@item._class.class_Id-@_course.course.course_Id").slideUp(function () {
                                                        $("#@tRow@item._class.class_Id-@_course.course.course_Id").slideUp();
                                                    });
                                                });
                                            });
                                            $("#@c1Row@item._class.class_Id").click(function () {
                                                $("#@tdown@item._class.class_Id-@_course.course.course_Id").fadeOut(500, function () {
                                                    $("#@c1down@item._class.class_Id").fadeOut(500, function () {
                                                        $("#@c1right@item._class.class_Id").fadeIn();
                                                    });
                                                });
                                            });
                                            $("#@tRow@item._class.class_Id-@tRow").click(function () {
                                                $("#@t@item._class.class_Id-@_course.course.course_Id").slideUp(function () {
                                                    $("#@gRow@item._class.class_Id-@_task.task.task_Id").slideUp();
                                                });
                                            });
                                            $("#@tRow@item._class.class_Id-@_course.course.course_Id").click(function () {
                                                $("#@tdown@item._class.class_Id-@_course.course.course_Id").fadeOut(function () {
                                                    $("#@tright@item._class.class_Id-@_course.course.course_Id").fadeIn();
                                                });
                                            });
                                            $("#@uploadDrop@item._class.class_Id").click(function () {
                                                $("#@uploads@item._class.class_Id").slideDown();
                                            });
                                            $("#@uploadUp@item._class.class_Id").click(function () {
                                                $("#@uploads@item._class.class_Id").slideUp();
                                            });
                                            $("#@studentDrop@item._class.class_Id").click(function () {
                                                $("#@students@item._class.class_Id").slideDown();
                                            });
                                            $("#@studentUp@item._class.class_Id").click(function () {
                                                $("#@students@item._class.class_Id").slideUp();
                                            });
                                        });
                                    </script>
                                }
                                else
                                {
                                    <div class="row" id="@gradeRow@item._class.class_Id-@_task.task.task_Id" style="width:100%;margin-left:0px;margin-right:0px;">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8" style="border:solid 1px #FFF;border-radius:5px;padding:0px;">
                                            <div class="col-md-9">
                                                <div class="col-md-5">
                                                    @Html.Label("Student")
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.Label("Earned")
                                                </div>
                                                <div class="col-md-2">
                                                    @Html.Label("Possible")
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.Label("Grade - %")
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    </div>
                                    foreach (var _grade in _task.grades)
                                    {
                                        string updateGrade = "updateGrade";
                                        <div class="row" id="@g@_grade.grade_Id" style="margin-left:0px;margin-right:0px;">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-8" id="@updateGrade@_grade.grade_Id" style="border:solid 1px #FFF;border-radius:5px;">
                                                @{ Html.RenderPartial("partialEdit", _grade);}
                                            </div>
                                        </div>
                                            <script type="text/javascript">
                                                $("document").ready(function () {
                                                    $("#@c1@item._class.class_Id-@_course.course.course_Id, #@t@item._class.class_Id-@_task.task.task_Id, #@g@_grade.grade_Id, #@gradeRow@item._class.class_Id-@_task.task.task_Id, #@c1down@item._class.class_Id, #@tdown@item._class.class_Id-@_course.course.course_Id, #@gDown@_task.task.task_Id,  #@tRow@item._class.class_Id-@_course.course.course_Id, #@gRow@item._class.class_Id-@_task.task.task_Id, #@uploads@item._class.class_Id, #@students@item._class.class_Id").hide(
                                                    );
                                                    $("#@c0@item._class.class_Id").click(function () {
                                                        $("#@c1@item._class.class_Id-@_course.course.course_Id, #@tRow@item._class.class_Id-@_course.course.course_Id").slideDown()
                                                    });
                                                    $("#@c0@item._class.class_Id").click(function () {
                                                        $("#@c1right@item._class.class_Id").fadeOut(function () {
                                                            $("#@c1down@item._class.class_Id").fadeIn();
                                                        });
                                                    });
                                                    $("#@c1@item._class.class_Id-@_course.course.course_Id").click(function () {
                                                        $("#@t@item._class.class_Id-@_task.task.task_Id, #@gRow@item._class.class_Id-@_task.task.task_Id").slideDown()
                                                    });
                                                    $("#@c1@item._class.class_Id-@_course.course.course_Id").click(function () {
                                                        $("#@tright@item._class.class_Id-@_course.course.course_Id").fadeOut(function () {
                                                            $("#@tdown@item._class.class_Id-@_course.course.course_Id, @gRight@_task.task.task_Id").fadeIn();
                                                        });
                                                    });
                                                    $("#@t@item._class.class_Id-@_task.task.task_Id").click(function () {
                                                        $("#@gradeRow@item._class.class_Id-@_task.task.task_Id, #@g@_grade.grade_Id").slideDown()
                                                    });
                                                    $("#@t@item._class.class_Id-@_task.task.task_Id").click(function () {
                                                        $("#@gRight@_task.task.task_Id").fadeOut(function () {
                                                            $("#@gDown@_task.task.task_Id").fadeIn();
                                                        });
                                                    });
                                                    $("#@c1Row@item._class.class_Id").click(function () {
                                                        $("#@g@_grade.grade_Id, #@gradeRow@item._class.class_Id-@_task.task.task_Id").slideUp(600, function () {
                                                            $("#@t@item._class.class_Id-@_task.task.task_Id, #@gRow@item._class.class_Id-@_task.task.task_Id").slideUp(600, function () {
                                                                $("#@c1@item._class.class_Id-@_course.course.course_Id, #@tRow@item._class.class_Id-@_course.course.course_Id").slideUp(600);
                                                            });
                                                        });
                                                    });
                                                    $("#@c1Row@item._class.class_Id").click(function () {
                                                        $("#@c1down@item._class.class_Id").fadeOut(function () {
                                                            $("#@tdown@item._class.class_Id-@_course.course.course_Id").fadeOut(function () {
                                                                $("#@gDown@_task.task.task_Id").fadeOut(function () {
                                                                    $("#@c1right@item._class.class_Id, #@tright@item._class.class_Id-@_course.course.course_Id, #@gRight@_task.task.task_Id").fadeIn();
                                                                });
                                                            });
                                                        });
                                                    });
                                                    $("#@tRow@item._class.class_Id-@_course.course.course_Id").click(function () {
                                                        $("#@g@_grade.grade_Id, #@gradeRow@item._class.class_Id-@_task.task.task_Id").slideUp(600, function () {
                                                            $("#@t@item._class.class_Id-@_task.task.task_Id, #@gRow@item._class.class_Id-@_task.task.task_Id").slideUp(600);
                                                        });
                                                    });
                                                    $("#@tRow@item._class.class_Id-@_course.course.course_Id").click(function () {
                                                        $("#@tdown@item._class.class_Id-@_course.course.course_Id").fadeOut(function () {
                                                            $("#@gDown@_task.task.task_Id").fadeOut(function () {
                                                                $("#@tright@item._class.class_Id-@_course.course.course_Id, #@gRight@_task.task.task_Id").fadeIn();
                                                            });
                                                        });
                                                    });
                                                    $("#@gRow@item._class.class_Id-@_task.task.task_Id").click(function () {
                                                        $("#@gradeRow@item._class.class_Id-@_task.task.task_Id, #@g@_grade.grade_Id").slideUp(600);
                                                    });
                                                    $("#@gRow@item._class.class_Id-@_task.task.task_Id").click(function () {
                                                        $("#@gDown@_task.task.task_Id").fadeOut(function () {
                                                            $("#@gRight@_task.task.task_Id").fadeIn();
                                                        });
                                                    });
                                                    $("#@uploadDrop@item._class.class_Id").click(function () {
                                                        $("#@uploads@item._class.class_Id").slideDown();
                                                    });
                                                    $("#@uploadUp@item._class.class_Id").click(function () {
                                                        $("#@uploads@item._class.class_Id").slideUp();
                                                    });
                                                    $("#@studentDrop@item._class.class_Id").click(function () {
                                                        $("#@students@item._class.class_Id").slideDown();
                                                    });
                                                    $("#@studentUp@item._class.class_Id").click(function () {
                                                        $("#@students@item._class.class_Id").slideUp();
                                                    });
                                                });
                                            </script>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                </div>
                                                    }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>