@model IEnumerable<ClassAnalytics.Models.ProgClassViewModel>

@{
    ViewBag.Title = "Index";
}

<center><h2>Classes</h2></center>
<div class="row" style="margin-top:-45px;">
    @using (Html.BeginForm())
    {
        <div class="col-xs-10" style="width:250px;margin-left:0px;padding-bottom:10px;">
            @Html.DropDownList("program_id", null, "Select a Program", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-8" style="width:150px;margin-left:-15px;padding-bottom:10px;">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    }
    <div class="col-sm-8" style="text-align:center;">
        <h4>@Html.ActionLink("Add a Class", "Create")</h4>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramModels.programName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.className)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramModels.programName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.class_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.class_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.class_Id })
        </td>
    </tr>
}

</table>
@using (Html.BeginForm("ClassHome", "Class"))
{
    @Html.AntiForgeryToken()
    <center>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Return To Class Home" class="btn btn-default" />
            </div>
        </div>
    </center>
}