@model IEnumerable<ClassAnalytics.Models.ProgClassViewModel>

@{
    ViewBag.Title = "Class Management";
}

<center><h2>@ViewBag.Title</h2></center>
<div class="row" style="margin-top:-45px;">
    @using (Html.BeginForm())
    {
        <div class="col-xs-10" style="width:250px;margin-left:0px;padding-bottom:10px;">
            @Html.DropDownList("program_id", null, "Select a Program", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-8" style="width:150px;margin-left:-10px;padding-bottom:10px;padding-left:0px;">
            <input type="submit" value="Search" class="btn btn-primary-2" />
        </div>
    }
    <div class="col-sm-8" style="text-align:right;">
        <h5>@Html.ActionLink("Add a new Class", "Create")</h5>
        <h5 class="text-danger">@ViewBag.statusMesssage</h5>
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgramModels.programName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="padding-top:10px;">
            @Html.DisplayFor(modelItem => item.className)
        </td>
        <td style="padding-top:10px;">
            @Html.DisplayFor(modelItem => item.ProgramModels.programName)
        </td>
        <td>
            <div class="btn-group" style="margin:0px;">
                <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Uploads</button>
                <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("New Upload", "Upload", "Upload", new { id = item.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Uploads", "uploadList", "Upload", new { id = item.class_Id }, new { @class = "navbar_links" })</div>
            </div>
            <div class="btn-group" style="margin:0px;">
                <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Students</button>
                <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("New Student","Create", "Students", new { id = item.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Students", "Index", "Students", new { id = item.class_Id }, new { @class = "navbar_links" })</div>
            </div>
            <div class="btn-group" style="margin:0px;">
                <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Class Management</button>
                <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("View Grades","Index", "GradeBook", new { id = item.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Grade Charts", "AdminCharts", "GradeBook", new {id=item.class_Id}, new { @class = "navbar_links" })<br>@Html.ActionLink("Update Class", "Edit", new { id = item.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Remove Class", "Delete", new { id = item.class_Id }, new { @class = "navbar_links" })</div>
            </div>
            <div class="btn-group" style="margin:0px;">
                <button class="btn btn-default btn-sm" type="button" style="margin-top:-8px;padding:10px;color:#FFF;" data-hover="dropdown">Surveys</button>
                <div class="dropdown-menu" style="margin-top:-10px;">@Html.ActionLink("Class Surveys", "Index_Class_Survey", "Survey", new { id = item.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Survey Charts", "SurveyBarChart", "Survey", new { id = item.class_Id }, new { @class = "navbar_links" })<br>@Html.ActionLink("Survey Management", "Index", "Survey", new { id = item.class_Id }, new { @class = "navbar_links" })</div>
            </div>
        </td>
    </tr>
}

</table>