@model IEnumerable<ClassAnalytics.Models.ProgramModels>

@{
    ViewBag.Title = "Programs";
}

<center><h2 style="padding-bottom:10px;">@ViewBag.Title</h2></center>

<h4 style="margin-top:-30px;">
    @Html.ActionLink("Create New", "Create")
</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.programName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.programName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink("Modify", "Edit", new { id=item.program_Id }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.program_Id })
        </td>
    </tr>
}

</table>
