@model IEnumerable<ClassAnalytics.Models.ProgramModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.programName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.programName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.program_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.program_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.program_Id })
        </td>
    </tr>
}

</table>
@using (Html.BeginForm("ProgramHome", "ProgramModels"))
{
    @Html.AntiForgeryToken()
    <center>
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Return To Program Home" class="btn btn-default" />
            </div>
        </div>
    </center>
}