@model ClassAnalytics.Models.TaskModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.taskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taskNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.task_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
