@model IEnumerable<ClassAnalytics.Models.TaskModel>

@{
    ViewBag.Title = "Index";
}
<div class="col-sm-12" style="text-align:center;">
    <h2>Tasks</h2>
</div>

<div class="col-sm-12" style="text-align:right;margin-top:-30px;padding-bottom:5px;">
    <h4>@Html.ActionLink("New Task", "Create")</h4>
</div>
@using (Html.BeginForm())
{
    <div class="row" style="margin-top:-40px;padding-bottom:5px;">
        <div class="col-xs-4" style="width:200px;padding-bottom:10px;">
            @Html.DropDownList("course_id", null, "Select a Course", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-2" style="width:150px;margin-left:-20px;">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskType_Id)
        </th>
        <th>
            @Html.DisplayName("Course")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTypeModels.taskType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseModels.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskNotes)
        </td>
        <td>
            @Html.ActionLink("Modify", "Edit", new { id=item.task_Id }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.task_Id })
        </td>
    </tr>
}

</table>