@model IEnumerable<ClassAnalytics.Models.Task_Models.TaskModel>

@{
    ViewBag.Title = "Tasks";
}
<div class="col-sm-12" style="text-align:center;">
    <h2>@ViewBag.Title</h2>
    <div class="col-sm-12" style="text-align:right;margin-top:-30px;">
        <h4>@Html.ActionLink("Return to Dashboard", "Index", "Class", new { @class = "a" })
        @Html.ActionLink("New Task","Create","Task", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "a" })</h4>
    </div>
    <h5 style="margin-top:-10px;">@ViewBag.course</h5>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskType_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>   
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTypeModels.taskType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.points)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink("Assign to Class", "assignClass", "Class", new { task_id=item.task_Id }, new { @class="" }) | 
            @Html.ActionLink("Modify", "Edit", new { id=item.task_Id }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.task_Id })
        </td>
    </tr>
}

</table>