@model ClassAnalytics.Models.SurveyJoinTableModel

@{
    ViewBag.Title = "Remove Survey";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Class")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassModel.className)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyModel.SurveyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyModel.SurveyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary-2" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
