@model ClassAnalytics.Models.SurveyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SurveyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentModels.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentModels.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surveyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.survey_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
