@model ClassAnalytics.Models.Survey_Models.SurveyQuestion

@{
    ViewBag.Title = "Edit question for the '" + ViewBag.surveyName + "' survey.";
}

<h4>@ViewBag.Title</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.question_Id)
        @Html.HiddenFor(model => model.survey_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.question, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary-new" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Return to Questions", "QuestionList", new { id = Model.survey_Id })
</div>
