@model ClassAnalytics.Models.SurveyQAViewModel

@{
    ViewBag.Title = "fill_out_survey";
    string student_name = Model.StudentModels.lName + ", " + Model.StudentModels.fName;
}
@Html.HiddenFor(m => m.StudentModels)
@Html.HiddenFor(m => m.SurveyModel)
@Html.HiddenFor(m => m.survey_Id)
@Html.HiddenFor(m => m.student_Id)
<h3>@Html.DisplayFor(model => model.SurveyModel.SurveyName) - @Html.DisplayFor(model => student_name)</h3>
<div class="container" style="width:auto;">
    @using (Html.BeginForm())
    {
        <table class="table">
            <tr>
                <th>
                    <h4>Questions</h4>
                </th>
                <th>
                    <h4>Answers</h4>
                    <h6>Please check all that apply.</h6>
                </th>
                <th></th>
            </tr>

            @for (var i = 0; i < Model.SurveyQuestions.Count(); i++)
            {
                <tr>
                    @Html.HiddenFor(model => model.answer_list[i].answer_Id)
                    <td>
                        @Html.DisplayFor(modelItem => Model.SurveyQuestions[i].question)
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => Model.answer_list[i].answer)
                    </td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-10" style="margin-top:-20px;">
                <input type="submit" value="Submit Survey" class="btn btn-primary-new" />
            </div>
        </div>
    }

</div>

