@model IEnumerable<ClassAnalytics.Models.Survey_Models.SurveyJoinTableModel>

@{
    ViewBag.Title = ViewBag.thisClass + "'s Surveys";
}      
<center><h2 style="margin-top:30px;">@ViewBag.Title</h2></center>
<div style="text-align:right;margin-top:-30px;">
    @Html.ActionLink("Manage Other Program Surveys", "Index", new { id = ViewContext.RouteData.Values["id"] }) |
    @Html.ActionLink("Return to Classes", "Index", "Class")
</div>  
@using (Html.BeginForm())
{
    <div class="row" style="width:100%;margin-left:10px;margin-top:-40px;padding-bottom:10px;">
        <div class="col-xs-4" style="width:170px;padding-left:0px;">
            @Html.DropDownList("active", new SelectList(new List<Object>
                       {
                       new { value = true , text = "Active" },
                       new { value = false , text = "Inactive"  }
                       }, "value", "text", 2), "Active/Inactive", new { @class = "form-control" })
        </div>
        <div class="col-xs-1" style="width:150px;padding-left:0px;">
            <input type="submit" value="Search" class="btn btn-primary-2" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th class="col-md-4"></th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.SurveyModel.SurveyName)
        </th>
        <th class="col-md-2">
            @Html.Label("Actions")
        </th>
        <th class="col-md-4"></th>
    </tr>

    @foreach (var item in Model)
    {
        string active = "";
        if (item.active == false)
        {
            active = "Activate";
        }
        else
        {
            active = "Deactivate";
        }
        <tr>
            <td class="col-md-4"></td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.SurveyModel.SurveyName)
            </td>
            <td class="col-md-2">
                @Html.ActionLink(active, active, new { id = item.survey_join_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.survey_join_Id })
            </td>
            <td class="col-md-4"></td>
        </tr>
    }

</table>
