@model IEnumerable<ClassAnalytics.Models.SurveyModel>

@{
    ViewBag.Title = "Survey Home";
}


<p>
    <center><h2>@ViewBag.Title</h2></center>
    <div style="text-align:right;margin-top:-30px;">
        @Html.ActionLink("Create a New Survey", "Create") | 
        @Html.ActionLink("See surveys assigned to Classes", "Index_Class_Survey")
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseModels.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyName)
        </th>
        <th>
            @Html.Name("Number of Questions")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string courseName = "No Course";
    int questionCount = 0;
    if(item.question_list != null)
    {
        questionCount = item.question_list.Count();
    }
    if(item.course_Id != null)
    {
        courseName = item.CourseModels.courseName;
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => questionCount)
        </td>
        <td style="text-align:right;">
            @Html.ActionLink("Add Question", "Create_Question", new { id=item.survey_Id }) | 
            @Html.ActionLink("Assign to Class","Create_Join", new { id=item.survey_Id})
        </td>
    </tr>
}

</table>
