@model IEnumerable<ClassAnalytics.Models.SurveyJoinTableModel>

@{
    ViewBag.Title = "Survey Activation";
}      
<center><h2 style="margin-top:30px;">@ViewBag.Title</h2></center>
@using (Html.BeginForm())
{
    <div class="row" style="width:100%;margin-left:10px;margin-top:-30px;padding-bottom:0px;">
        <div class="col-xs-4" style="width:180px;margin-left:-25px;">
            @Html.DropDownList("class_id", null, "All Classes", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-4" style="width:150px;padding-right:0px;padding-left:0px;">
            @Html.DropDownList("active", new SelectList(new List<Object>
                       {
                       new { value = true , text = "Active" },
                       new { value = false , text = "Inactive"  }
                       }, "value", "text", 2), "Active/Inactive", new { @class = "form-control" })
        </div>
        <div class="col-xs-1" style="width:150px;padding-left:0px;margin-left:-3px;">
            <input type="submit" value="Search" class="btn btn-primary-2" />
        </div>
    </div>
}
<div style="text-align:right;margin-top:-15px;">
    @Html.ActionLink("Return to Surveys", "Index")
</div>  
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassModel.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyModel.SurveyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string active = "";
        if (item.active == false)
        {
            active = "Activate";
        }
        else
        {
            active = "Deactivate";
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassModel.className)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyModel.SurveyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                @Html.ActionLink(active, active, new { id = item.survey_join_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.survey_join_Id })
            </td>
        </tr>
    }

</table>
