@model IEnumerable<ClassAnalytics.Models.SurveyModel>

@{
    ViewBag.Title = ViewBag.program + " Surveys";
}


<p>
    <center><h2>@ViewBag.Title</h2></center>
    <div style="text-align:right;margin-top:-30px;">
        @Html.ActionLink("Create a New Survey", "Create", new { id = ViewContext.RouteData.Values["id"] }, new { @class = "a" })
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseModels.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyName)
        </th>
        <th>
            @Html.Name("Number of Questions")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    int questionCount = 0;
    string assignLink = "Assign to " + ViewBag.className + " Class";
    if (item.question_list != null)
    {
        questionCount = item.question_list.Count();
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseModels.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => questionCount)
        </td>
        <td style="text-align:right;">
            @Html.ActionLink("Add Question", "Create_Question", new { id=item.survey_Id }) | 
            @Html.ActionLink(assignLink, "Create_Join", new { @id=item.survey_Id, @class_id = ViewContext.RouteData.Values["id"] })
        </td>
    </tr>
}

</table>
