@model IEnumerable<ClassAnalytics.Models.Survey_Models.SurveyModel>

@{
    ViewBag.Title = "Student Survey Home";
}

<h2>@ViewBag.Title</h2>
<p class="text-danger">@ViewBag.StatusMessage</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.classModel.className)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string survey = "";
    string link = "";
    if(item.active == true)
    {
        survey = "Fill Out Survey";
        link = "fill_out_survey";
    }
    else
    {
        survey = "Not Available";
        link = "Student_Index";
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.classModel.className)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink(survey, link, new { id=item.survey_Id })
        </td>
    </tr>
}

</table>
