@model ClassAnalytics.Models.SurveyChartModel

@{
    string period = ") ";
    ViewBag.Title = "Survey Barchart";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var data = new google.visualization.DataTable();
            var answers = @Html.Raw(Json.Encode(Model.answers));
            var answer_array = [];
            for(i=0;i<answers.length;i++){
                answer_array[answer_array.length] = [answers[i][1],answers[i][2],answers[i][3]];
            }
            data.addColumn('number', 'Question');
            data.addColumn('number', 'True Responses');
            for(i = 0; i < answer_array.length; i++)
                data.addRow([answer_array[i][0], answer_array[i][1]]);

            var options = {
                titleTextStyle:{color:'#FFF',fontSize:20},
                legend: { position: 'none' },
                colors:['#555'],
                hAxis:{
                    title:'Question #',
                    titleTextStyle:{color:'#FFF',fontSize:16},
                    textStyle:{color:'#FFF'},
                },
                vAxis:{
                    title:'True Responses',
                    titleTextStyle:{color:'#FFF',fontSize:16},
                    textStyle:{color:'#FFF'},
                },
                axes: {
                    y: {
                        all: {
                            range: {
                                max: answers[1][3],
                                min: 0
                            }
                        }
                    }
                },
                bar: { groupWidth: "75%" }
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            // Convert the Classic options to Material options.
            chart.draw(data, google.charts.Bar.convertOptions(options));
        };
    </script>
</head>
@if (Model.survey_name != null)
{
    <center>
        <h3>
            @Model.survey_name's Results
        </h3>
    </center>
}
else
{
    <center><h3 style="padding-left:50px;">Survey Charts</h3></center>
}

@using (Html.BeginForm())
{
    <div class="row" style="margin-left:30%;margin-right:auto;margin-top:0px;padding-bottom:10px;">
        <div class="col-xs-4" style="width:200px;">
            @Html.DropDownList("class_id", null, "Select a Class", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-4" style="width:200px;margin-left:-20px;">
            @Html.DropDownList("survey_id", null, "Select a Survey", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-2" style="width:150px;margin-left:-10px;padding-left:0px;">
            <input type="submit" value="Search" class="btn btn-primary-2" />
        </div>
    </div>
}
<div class="container" style="width:90%;margin-left:10%;">
    <div class="col-sm-2" style="width:5%;">
        @{
            foreach (var question in Model.answers)
            {
                string data = question[1] + period + "Question";
                <div class="btn-group" style="margin-bottom:10px;">
                    <button class="btn btn-primary-new" type="button" style="margin:0 auto;" data-hover="dropdown">@data</button>
                    <div class="sidebar-dropdown-menu">@Html.DisplayFor(model => question[0], new { @class = "form-control" })</div>
                </div>
                <br>
            }
        }
    </div>
    <div id="top_x_div" class="col-sm-8" style="height:350px;width:65%;margin-left:100px;">
    </div>
</div>

