@model IEnumerable<ClassAnalytics.Models.SurveyChartModel>

@{
    int count = 1;
    int qCount = 1;
    string period = ") ";
    ViewBag.Title = "Survey Barchart";
    List<List<Object>> answers = new List<List<Object>>();
    List<int> ticks = new List<int>();
    List<string> questions = new List<string>();
}
@{
    foreach (var item in Model)
    {
        questions.Add(item.question);
        answers.Add(new List<object> { qCount, item.answer_count, item.response_count });
        ticks.Add(qCount);
        qCount += 1;
    }
}

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['bar']});
        google.charts.setOnLoadCallback(drawStuff);

        function drawStuff() {
            var data = new google.visualization.DataTable();
            var answers = @Html.Raw(Json.Encode(answers));
            var answer_array = [];
            for(i=0;i<answers.length;i++){
                answer_array[answer_array.length] = [answers[i][0],answers[i][1],answers[i][2]];
            }
            console.log(answers);
            console.log(answer_array);
            data.addColumn('number', 'Question ');
            data.addColumn('number', 'True Responses');
            for(i = 0; i < answer_array.length; i++)
                data.addRow([answer_array[i][0], answer_array[i][1]]);


            var options = {
                title: 'Responses',
                legend: { position: 'none' },
                axes: {
                    x: {
                        0: { side: 'bottom', label: 'Questions'}
                    },
                    y: {
                        all: {
                            title:'Yes',
                            range: {
                                max: answers[1][2],
                                min: 0
                            }
                        }
                    }
                },
                bar: { groupWidth: "75%" }
            };

            var chart = new google.charts.Bar(document.getElementById('top_x_div'));
            // Convert the Classic options to Material options.
            chart.draw(data, google.charts.Bar.convertOptions(options));
        };
    </script>
</head>


<center><h3 style="padding-left:50px;">Survey Charts</h3></center>
@using (Html.BeginForm())
{
    <div class="row" style="margin-left:30%;margin-right:auto;margin-top:0px;padding-bottom:10px;">
        <div class="col-xs-4" style="width:200px;">
            @Html.DropDownList("class_id", null, "Select a Class", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-4" style="width:200px;margin-left:-20px;">
            @Html.DropDownList("survey_id", null, "Select a Survey", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-2" style="width:150px;margin-left:-10px;padding-left:0px;">
            <input type="submit" value="Search" class="btn btn-primary-2" />
        </div>
    </div>
}
<div class="container" style="width:90%;margin-left:10%;">
    <div class="col-sm-2" style="width:5%;">
        @{
            foreach (var question in questions)
            {
                string data = count + period + "Question";
                <div class="btn-group" id="button_fade">
                    <button class="btn btn-primary-new" type="button" style="background:#aaa;border-color:#fff;" data-hover="dropdown"><b>@data</b></button>
                    <div class="sidebar-dropdown-menu">@Html.DisplayFor(model => question, new { @class = "form-control" })</div>
                </div>
                <br />
                count += 1;
            }
        }
    </div>
    <div id="top_x_div" class="col-sm-8" style="height:350px;width:65%;margin-left:100px;"></div>
</div>

