@model ClassAnalytics.Models.Gradebook_Models.GradeBookModel

@{
    ViewBag.Title = "Create";
}

<h2>Create a Class Task</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.pointsEarned)
        <div class="form-group">
            @Html.LabelFor(model => model.class_Id, "Class", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("class_Id", null, "Select a Class" ,htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.class_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.task_Id, "Graded Task", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("task_Id", null, "Select The Task" ,htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.task_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.assignment_notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assignment_notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assignment_notes, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary-2" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Tasks", "Index")
</div>
