@model ClassAnalytics.Models.Gradebook_Models.GradeBookModel

@{
    ViewBag.Title = "Remove a task";
    string name = Model.StudentModels.fName + " " + Model.StudentModels.lName;
    string task = Model.TaskModel.taskName + " | Course: " + Model.TaskModel.CourseModels.courseName;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentModels.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskModel.taskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignment_notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignment_notes)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-primary-2" /> |
            @Html.ActionLink("Back to Grades", "Index")
        </div>
    }
</div>
