@model ClassAnalytics.Models.GradebookViewModel

@{
    ViewBag.Title = "Grades";
}
<h2>Grades</h2>
@using (Html.BeginForm())
{
    <div class="row" style="width:100%;padding-left:125px;padding-bottom:10px;margin-top:-45px;">
        <div class="col-xs-10" style="width:250px;">
            @Html.DropDownList("class_id", null, "Select a Class", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-10" style="width:250px;margin-left:-10px;padding-left:0px;border-left:none;">
            @Html.DropDownListFor(m => m.task_id, Model.taskList, "Select a Task", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-8" style="width:150px;margin-left:-10px;padding-left:0px;">
            <input type="submit" value="Search" class="btn btn-primary-2" />
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create Class Task", "Create") | 
    @Html.ActionLink("Create Single Task", "CreateOne")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Task")
        </th>
        <th>
            @Html.DisplayName("Possible Points")
        </th>
        <th>
            @Html.DisplayName("Points Earned")
        </th>
        <th>
            @Html.DisplayName("Grade") - %
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.grades)
    {
        string unit = "Course: " + item.TaskModel.CourseModels.courseName + " | Name: " + item.TaskModel.taskName;
        string name = item.StudentModels.fName + " " + item.StudentModels.lName;
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskModel.points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pointsEarned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)%
            </td>
            <td>
                @Html.ActionLink("Update Grade", "Edit", new { id = item.grade_Id }) |
                @Html.ActionLink("Remove", "Delete", new { id = item.grade_Id })
            </td>
        </tr>
    }

</table>
