@model ClassAnalytics.Models.GradeBookModel

@{
    ViewBag.Title = Model.TaskModel.taskName;
}

<h3>@ViewBag.Title</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClassModel.className)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassModel.className)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskModel.taskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskModel.taskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pointsEarned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pointsEarned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.possiblePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.possiblePoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.grade)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.assignment_notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignment_notes)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to Gradebook", "Student_Index")
</p>
