<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Edulytics Student</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Edulytics - Student", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    <div class="btn-group" style="margin-top:10px;">
                        <button class="btn btn-default btn-sm" type="button" style="margin:0;color:#FFF;" data-hover="dropdown">Grades</button>
                        <div class="dropdown-menu">@Html.ActionLink("View Grades", "Student_Index", "GradeBook", new { area = "" }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Grade Charts", "Student_Chart", "GradeBook", new { area = "" }, new { @class = "navbar_links" })<br>@Html.ActionLink("View Uploads", "studentIndex", "Upload", new { area = "" }, new { @class = "navbar_links" })</div>
                    </div>
                    <div class="btn-group" style="margin-top:10px;">
                        <button class="btn btn-default btn-sm" type="button" style="margin:0;color:#FFF;" data-hover="dropdown">Survey</button>
                        <div class="dropdown-menu">@Html.ActionLink("Current Survey", "Student_Index", "Survey", new { area = "" }, new { @class = "navbar_links" })</div>
                    </div>
                    <div class="btn-group" style="margin-top:10px;">
                        <button class="btn btn-default btn-sm" type="button" style="margin:0;color:#FFF;" data-hover="dropdown">Messaging</button>
                        <div class="dropdown-menu">@Html.ActionLink("Direct Message", "Inbox", "Messaging", new { area = "" }, new { @class = "navbar_links" })</div>
                    </div>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr class="hr1"/>
        <footer>
            <center><p>&copy; @DateTime.Now.Year - Edulytics | @Html.ActionLink("About", "About", "Home") | @Html.ActionLink("Contact", "Contact", "Home")</p></center>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
