@model ClassAnalytics.Models.Instructor_Models.InstructorClassJoinModel

@{
    ViewBag.Title = "Add program to Instructor";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.instructor_Id)
    <div class="form-horizontal">
        <h4>InstrctrProgramJoin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.instructor_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Display(Model.instructor.fName + " " + Model.instructor.lName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.class_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.class_id, Model.classes, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary-2" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
