@model IEnumerable<ClassAnalytics.Models.Instructor_Models.InstructorModel>

@{
    ViewBag.Title = "Instructors";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Instructor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("View/Edit Classes", "Details", new { id=item.instructor_Id }) |
            @Html.ActionLink("Modify Instructor", "Edit", new { id = item.instructor_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.instructor_Id })
        </td>
    </tr>
}

</table>
