@model ClassAnalytics.Models.Misc_Models.CourseModels

@{
    ViewBag.Title = "Remove a Course";
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.courseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.programModels.programName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.programModels.programName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-primary-2" /> |
            @Html.ActionLink("Return to Courses", "Index")
        </div>
    }
</div>
