@model IEnumerable<ClassAnalytics.Models.ProgCourseViewModel>

@{
    ViewBag.Title = "Course Home";
}

<center><h2>@ViewBag.Title</h2></center>
@using (Html.BeginForm())
{
    <div class="row" style="width:100%;margin-left:10px;padding-bottom:15px;margin-top:-40px;">
        <div class="col-xs-10" style="width:250px;margin-left:-25px;">
            @Html.DropDownList("program_id", null, "Select a Program", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-8" style="width:150px;margin-left:-25px;">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
}
<h4 style="text-align:right;margin-top:-30px;">
    @Html.ActionLink("Create New", "Create")
</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.program_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramModels.programName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.ActionLink("Modify", "Edit", new { id=item.course_Id }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.course_Id })
        </td>
    </tr>
}
</table>