@model IEnumerable<ClassAnalytics.Models.Misc_Models.CourseModels>

@{
    ViewBag.Title = "Course Home";
}

<center><h2>@ViewBag.Title</h2></center>
<center><h5>@ViewBag.program</h5></center>
<h5 style="text-align:right;margin-top:-30px;">
    @Html.ActionLink("Return to Programs", "Index", "ProgramModels") | 
    @Html.ActionLink("Return to Classes","Index","Class")
</h5>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td> 
            @Html.ActionLink("New Task","new_Task",new { id=item.course_Id}) | 
            @Html.ActionLink("View Tasks", "task_Index", new { id = item.course_Id }) |
            @Html.ActionLink("Modify", "Edit", new { id=item.course_Id }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.course_Id })
        </td>
    </tr>
}
</table>