@model ClassAnalytics.Models.Uploads_Models.UploadViewModel

@{
    ViewBag.Title = "Modify Upload";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.upload_id)
        @Html.HiddenFor(m => m.class_id)
        @Html.HiddenFor(m => m.relativePath)
        @Html.HiddenFor(m => m.createDate)

        <div class="form-group">
            @Html.LabelFor(model => model.uploadName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.uploadName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.uploadName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.course_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.course_Id, Model.courses, "Course [Optional]", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.course_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.uploadType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.uploadType, new SelectList(new List<Object>
                       {
                       new { value = "Assignments" , text = "Assignment" },
                       new { value = "Resources" , text = "Resource"  }
                       }, "value", "text", 2), "Select Upload Type:", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.uploadType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.active, new SelectList(new List<Object>
                       {
                       new { value = true , text = "Active" },
                       new { value = false , text = "Inactive"  }
                       }, "value", "text", 2), "Active/Inactive", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.active, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary-2" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Uploads", "uploadList", new { id=Model.class_id })
</div>
