@model IEnumerable<ClassAnalytics.Models.Uploads_Models.UploadModel>

@{
    
    ViewBag.Title = ViewBag.className + "'s Uploads";
}

<div class="col-md-12">
    <h2 style="text-align:center;">@ViewBag.Title</h2>
    <h5 style="text-align:right;margin-top:-20px;">
        @Html.ActionLink("Return to Classes", "Index", "Class") | 
        @Html.ActionLink("New Upload", "Upload", new { id= ViewContext.RouteData.Values["id"] })
    </h5>
</div>

<table class="table">
    <tr>
        <th></th>
        <th style="text-align:left;">
            @Html.DisplayNameFor(m => m.uploadName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.active)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.course_Id)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.uploadType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width:115px;">
            @Html.Label("View Upload: ", htmlAttributes: new { @class = "control-label" })
        </td>
        <td style="text-align:left;">
            @Html.ActionLink(item.uploadName,"ViewFile", new { id=item.upload_id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseModels.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uploadType)
        </td>
        <td>
            @Html.ActionLink("Modify Upload", "Edit", new { id = item.upload_id }) | 
            @Html.ActionLink("Remove", "Delete", new { id = item.upload_id })
        </td>
    </tr>
}

</table>
